@import "variables";
@import "mixins";
@import "fonts";
@import "typo";

html {
  position: relative;
  min-height: 100%;
}

body {
  .base-font;
  background-color: @color-theme-1;
}

a {
  color: @color-theme-2;
  &:hover, &:active, &:focus, &:visited {
    color: @color-theme-2;
  }
}
// Jumbotron
.jumbotron {
  background-color: @color-theme-1;
  text-align: center;

  h1, h2, h3, h4, h5 {
    color: @color-theme-5;
  }

  .btn-group {
    margin-top: 2em;
  }

  .jumbo-header {

  }
  .jumbo-sub-header {
    font-size: 1.5em;
  }
}

.logo-container {
  width: 15%;
  margin: auto;
}

svg.logo {
  width: 100%;
  .mountain {
    fill: @color-theme-3;
  }
  .pike {
    fill: @color-theme-5;
  }
}

// Footer
// Footer
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60%;
  color: @color-theme-1;
  background-color: @color-theme-2;
  text-align: center;
  a, a:hover, a:active, a:focus, a:visited {
    color: @color-theme-1;
    text-decoration: underline;
  }
}
// Ribbons
.ribbon {
  background-color: @color-theme-2;
  color: @color-theme-1;
  padding: 4em 0;
}

// Misc.
// Browse happy
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}