

{% if page.everest_mode == "global" %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js"><\/script>')</script>
<script src="//oss.maxcdn.com/knockout/3.1.0/knockout.js"></script>
<script>window.ko || document.write('<script src="js/vendor/knockout-3.1.0.min.js"><\/script>')</script>

{% elsif page.everest_mode == "amd" %}

<script>
    var require = {
        paths: {
            "jquery": "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min",
            "knockout": "//oss.maxcdn.com/knockout/3.1.0/knockout",
            "everest": "bower_components/everest/dist/everest"
        }
    };
</script>
<script data-main="simple-amd.js" src="//oss.maxcdn.com/requirejs/2.1.14/require.min.js"></script>

{% else %}

{% endif %}
